<footer class="rodape">
    <div class="logo-footer">
      <img src="/images/shoes-logo-white-3 1.png" alt="logo shoes store" />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium,
        dolor. Quasi voluptatibus esse explicabo maxime vitae quia doloribus
        temporibus vel soluta? Sequi, enim. Praesentium deserunt tempore
        consectetur iste, ducimus natus!
      </p>
    </div>

    <div class="categorias">
      <h3>Categorias</h3>
      <ul>
        <li><a href="#">sandálias</a></li>
        <li><a href="#">botas</a></li>
        <li><a href="#">tênis</a></li>
        <li><a href="#">oxford</a></li>
        <li><a href="#">coturnos</a></li>
      </ul>
    </div>

    <div class="institucional">
      <h3>Institucional</h3>
      <ul>
        <li><a href="#">sobre nós</a></li>
        <li><a href="#">perguntas frequentes</a></li>
        <li><a href="#">politica de privacidade</a></li>
        <li><a href="#">rastreamento de pedidos</a></li>
        <li><a href="trabalheConosco">trabalho conosco</a></li>
        <li><a href="#">contato</a></li>
      </ul>
    </div>
  </footer>