<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoes Store</title>
    <link rel="shortcut icon" href="/images/shoes-logo-2 1.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/registration.css">
    <link rel="stylesheet" href="/stylesheets/index.css"/>
  </head>
  <body>
    <header class="cabecalho">
      <div class="logo">
        <img src="/images/shoes-logo-2 1.png" alt="logo shoes store" />
      </div>

      <nav class="navbar">
        <ul class="nav-links">
          <li class="link"><a href="#">TODOS OS PRODUTOS</a></li>
          <li class="link"><a href="#">COLEÇÕES</a></li>
          <li class="link"><a href="/users/cadastrar">CRIAR CONTA</a></li>
          <li id="conta"><a href="#">Login</a></li>
        </ul>
      </nav>
    </header>