<%- include('./partials/header') %>

    <a  href="index.html"> <span class="inicio">Inicio</span></a>

    <section class="formulario">
        
        
        <form action="#" method="POST">
            <h1 style="margin-left:10px ;" >Faça parte do nosso time</h1>
            <div class="div-imputs">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" required placeholder="Digite seu nome">

            </div>

            <div class="div-imputs">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required placeholder="email@me.com">

            </div>

            <div class="div-imputs">
                <label for="Telefone">telefone</label>
                <input type="tel" name="telefone" id="telefone" required>

            </div>

            <div class="div-imputs">
                <label for="departamentos">Departamentos</label>

                <select name ="departamentos" id="departamentos">
                <option selected disabled>Selecione</option>
                <option value="rh">Recursos Humanos</option>
                <option value="vendas">Vendas</option>
                <option value="mkt">Marketing</option>
                <br />
                </select>
                </div>

                <div id="dispo">
                  <label for="disponibilidade">Disponibilidade</label>
                </div>
                


                <div class="checkbox">
                    <input type="checkbox" name="disponibilidade" value="integral" id="integral"><label for="integral">integral</label>
                </div>
                
                <div class="checkbox">
                    <input type="checkbox" name="disponibilidade" id="meioPeriodo" value="meioPerido">
                <label for="meioPeriodo">Meio Periodo(4h)</label>

                </div>

                <div class="checkbox">
                    <input type="checkbox" name="disponibilidade" id="freelancer" value="freelancer">
                <label for="freelancer">Freelancer</label><br>

                </div>

                <div class="entrar-em-contato" >
                    <label>Qual a melhor forma para entrarmos em contato com você?</label>
                 </div>

                

                 <div class="contato">
                    <input type="radio" name="contato" id="email" value="email"><label for="email">Email</label>

                    

                        <div>
                        <input type="radio" name="contato" id="ligacao" value="ligacao"><label for="ligacao">Ligação</label>

                    </div>

                    <div>
                        <input type="radio" name="contato" id="whatsapp" value="whatsapp"><label for="whatsapp">WhatsApp</label>
                        
                    </div>


                 </div>
                 <label for="mensagem">Mensagem</label>
                 <div>
                    <textarea id="mensagem" name="mensagem"
                    rows="" cols="">
                </textarea>

                 </div>
      
                 <label for="curriculo">Currículo</label> <input type ="file" name="curriculo" accept=".pdf">

                 
                <div id="enviar">
                    <button type="submit">Enviar</button>
                </div>
                

            
        </form>
    </section>

    <footer class="rodape">
        <div class="logo-footer">
            <img src="/imagens/shoes-logo-white-3 1.png" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, dolor. Quasi voluptatibus esse explicabo maxime vitae quia doloribus temporibus vel soluta? Sequi, enim. Praesentium deserunt tempore consectetur iste, ducimus natus!</p>
        </div>

        <div class="categorias">
            <h3>Categorias</h3>
            <ul>
                <li><a href="#">sandálias</a></li>
                <li><a href="#">botas</a></li>
                <li><a href="#">tênis</a></li>
                <li><a href="#">oxford</a></li>
                <li><a href="#">coturnos</a></li>
            </ul>
        </div>

        <div class="institucional">
            <h3>Institucional</h3>
            <ul>
                <li><a href="#">sobre nós</a></li>
                <li><a href="#">perguntas frequentes</a></li>
                <li><a href="#">politica de privacidade</a></li>
                <li><a href="#">rastreamento de pedidos</a></li>
                <li><a href="#">contato</a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>