
    <title>Usuários</title>
</head>
<%- include('./partials/header') %>
<main class="main-users">
    <div class="users-list">
        <h1>Lista De Usuários</h1>
        <% for(let users of user ) { %>
        
            <li><%= users.full_name%></li>
        
        <% } %>
    </div>
</main>
<%- include('./partials/footer') %>
</body>
</html>